[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.dependencies]
rand = "0.9.2"
serde = "1"
proc-macro2 = "1"
quote = "1"
syn = "2"
thiserror = "2"
ahash = "0.8.12"
dashmap = "6"
anyhow = "1"

[workspace.lints.clippy]
pedantic = { level = "warn", priority = 0 }
style = { level = "warn", priority = 0 }
must-use-candidate = { level = "allow", priority = 1 }

[workspace.lints.rust]
unsafe_code = "deny"