[workspace]
members = ["crates/*", "fuzz/*"]
resolver = "3"

[workspace.dependencies]
serde = "1.0"
thiserror = "2.0"
dashmap = "6.1"
clap = "4.5"
walkdir = "2.5"
tackc_error = { version = "0.1.0", path = "crates/tackc_error" }
tackc_file = { version = "0.1.0", path = "crates/tackc_file" }
tackc_global = { version = "0.1.0", path = "crates/tackc_global" }
tackc_lexer = { version = "0.1.0", path = "crates/tackc_lexer" }
tackc_span = { version = "0.1.0", path = "crates/tackc_span" }
tackc_parser = { version = "0.1.0", path = "crates/tackc_parser" }
tackc_utils = { version = "0.1.0", path = "crates/tackc_utils" }
tackc_analyze = { version = "0.1.0", path = "crates/tackc_analyze" }
tackc_ast = { version = "0.1.0", path = "crates/tackc_ast" }
tackc_fuzz = { version = "0.0.0", path = "fuzz/shared" }
bumpalo = "3.19"
libfuzzer-sys = "0.4"
rustc-hash = "2.1"
sha2 = "0.10.9"
honggfuzz = "0.5.58"
insta = "1.44"
proptest = "1.9"
ecow = "0.2.6"

[workspace.lints.clippy]
pedantic = { level = "warn", priority = 0 }
style = { level = "warn", priority = 0 }
nursery = { level = "warn", priority = 0 }

must-use-candidate = { level = "allow", priority = 1 }
# Passed by .cargo/config.toml
#todo = { level = "force-warn", priority = 1 }

[workspace.lints.rust]
unsafe_code = "deny"
