[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.dependencies]
rand = "0.9.2"

[workspace.lints.clippy]
pedantic = { level = "warn", priority = 0 }
style = { level = "warn", priority = 0 }
must-use-candidate = { level = "allow", priority = 1 }

[workspace.lints.rust]
unsafe_code = "deny"