[workspace]
members = ["crates/*", "fuzz/*"]
resolver = "3"

[workspace.dependencies]
rand = "0.9.2"
serde = "1"
proc-macro2 = "1"
quote = "1"
syn = "2"
thiserror = "2"
dashmap = "6"
anyhow = "1"
toml = "0.9.8"
clap = "4"
colored = "3"
flate2 = "1"
sbof = "1"
walkdir = "2"
tackc_error = { version = "0.1.0", path = "crates/tackc_error" }
tackc_file = { version = "0.1.0", path = "crates/tackc_file" }
tackc_global = { version = "0.1.0", path = "crates/tackc_global" }
tackc_lexer = { version = "0.1.0", path = "crates/tackc_lexer" }
tackc_macros = { version = "0.1.0", path = "crates/tackc_macros" }
tackc_macros_impl = { version = "0.1.0", path = "crates/tackc_macros_impl" }
tackc_span = { version = "0.1.0", path = "crates/tackc_span" }
bumpalo = "3.19.0"
tackc_parser = { version = "0.1.0", path = "crates/tackc_parser" }
ecow = "0.2.6"
libfuzzer-sys = "0.4"
rustc-hash = "2.1.1"
sha2 = "0.10.9"

[workspace.lints.clippy]
pedantic = { level = "warn", priority = 0 }
style = { level = "warn", priority = 0 }

must-use-candidate = { level = "allow", priority = 1 }
# Passed by .cargo/config.toml
#todo = { level = "force-warn", priority = 1 }

[workspace.lints.rust]
unsafe_code = "deny"
