[package]
name = "tackc_macros_impl"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.103"
quote = "1.0.41"
syn = { version = "2.0.109", features = ["full"] }

[lints]
workspace = true
