name: Fuzz

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  fuzz:
    name: Fuzzing
    strategy:
        fail-fast: false
        matrix:
            target: [ubuntu-latest, macos-latest, ubuntu-24.04-arm, macos-15-intel]
    runs-on: ${{ matrix.target }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compute Cargo.lock hash
        id: cargo-hash
        shell: bash
        run: |
            HASH=$(sha256sum Cargo.lock | awk '{print $1}')
            echo "hash=$HASH" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v4
        with:
            path: |
              ~/.cargo/bin/
              ~/.cargo/registry/index/
              ~/.cargo/registry/cache/
              ~/.cargo/git/db/
              target/
            key: ${{ matrix.target }}-nightly-cargo-fuzz-${{ steps.cargo-hash.outputs.hash }}
      - name: Install nightly
        id: install
        uses: dtolnay/rust-toolchain@master
        with: 
            toolchain: nightly

      - name: Build Project
        run: cargo +${{ steps.install.outputs.name }} build --release --workspace --verbose
      
      - name: Restore corpora from cache 
        if: always()
        uses: actions/cache/restore@v4
        with:
          path: fuzz/corpus/full
          key: fuzz-corpora-${{ matrix.target }}
    
      - id: comphash
        name: Calculate compiler hash
        shell: bash
        run: |
            HASH=$(cargo +${{ steps.install.outputs.name }} hash)
            echo "hash=$HASH" >> "$GITHUB_OUTPUT"

      - name: Install cargo-fuzz
        run: cargo +${{ steps.install.outputs.name }} install cargo-fuzz || true

      - name: Run cargo-fuzz
        id: fuzz
        run: cargo fuzz run full -- -timeout=10

      - name: Upload crash artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fuzz-crashes-${{ steps.comphash.outputs.hash }}-${{ matrix.target }}
          path: fuzz/artifacts/full/crashes/**/*
      
      - name: Cache corpora
        if: always()
        uses: actions/cache/save@v4
        with:
          path: fuzz/corpus/full
          key: fuzz-corpora-${{ matrix.target }}
