on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    main:
        strategy:
            matrix:
                target: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm, macos-15-intel, windows-11-arm]
                toolchain: [stable, beta, nightly]
        runs-on: ${{ matrix.target }}
        name: Run CI
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5
            - uses: actions/cache@v4
              with:
                path: |
                  ~/.cargo/bin/
                  ~/.cargo/registry/index/
                  ~/.cargo/registry/cache/
                  ~/.cargo/git/db/
                  target/
                key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ matrix.toolchain }}-${{ hashFiles('**/Cargo.lock') }}
            - name: Install ${{ matrix.toolchain }}
              id: install
              uses: dtolnay/rust-toolchain@master
              with: 
                components: clippy, rustfmt
                toolchain: ${{ matrix.toolchain }}
            - name: Build Project
              run: cargo +${{ steps.install.outputs.name }} build --verbose --release --workspace --exclude tackc_fuzz
            - name: Run Clippy
              run: cargo +${{ steps.install.outputs.name }} clippy --verbose --release --workspace --exclude tackc_fuzz
            - name: Run `tackc_testing`
              run: cargo +${{ steps.install.outputs.name }} testing --verbose --release
            - name: Run Unit Tests
              run: cargo +${{ steps.install.outputs.name }} test --verbose --release --workspace --exclude tackc_fuzz
            - name: Check Formatting
              run: cargo +${{ steps.install.outputs.name }} fmt --verbose --check --all
