on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    main:
        strategy:
            matrix:
                target: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm, macos-15-intel, windows-11-arm]
                toolchain: [stable, beta, nightly]
        runs-on: ${{ matrix.target }}
        name: Main CI Job
        steps:
            - name: Set BIN_EXT
              shell: bash
              run: |
                if [[ "${RUNNER_OS}" == "Windows" ]]; then
                  echo "BIN_EXT=.exe" >> "$GITHUB_ENV"
                else
                  echo "BIN_EXT=" >> "$GITHUB_ENV"
                fi
            - name: Checkout Repository
              uses: actions/checkout@v5
            - uses: actions/cache@v4
              with:
                path: |
                  ~/.cargo/bin/
                  ~/.cargo/registry/index/
                  ~/.cargo/registry/cache/
                  ~/.cargo/git/db/
                  target/
                key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ matrix.toolchain }}-${{ hashFiles('**/Cargo.lock') }}
            - name: Install ${{ matrix.toolchain }}
              id: install
              uses: dtolnay/rust-toolchain@master
              with: 
                components: clippy
                toolchain: ${{ matrix.toolchain }}
            - name: Build Project
              run: cargo +${{ steps.install.outputs.name }} build --verbose --release --workspace --exclude tackc_fuzz
            - name: Upload tackc Binary
              uses: actions/upload-artifact@v4
              with:
                name: ${{ runner.os }}-${{ runner.arch }}-tackc-${{ matrix.toolchain }}-${{ github.sha }}
                path: target/release/tackc${{ env.BIN_EXT }}
              env:
                BIN_EXT: ${{ env.BIN_EXT }}
            - name: Run Clippy
              run: cargo +${{ steps.install.outputs.name }} clippy --verbose --release --workspace --exclude tackc_fuzz
            - name: Run `tackc_testing`
              run: cargo +${{ steps.install.outputs.name }} testing --verbose --release
            - name: Run Unit Tests
              run: cargo +${{ steps.install.outputs.name }} test --verbose --release --workspace --exclude tackc_fuzz
    once:
        name: One-time Job
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v5
          - uses: actions/cache@v4
            with:
              path: |
                ~/.cargo/bin/
                ~/.cargo/registry/index/
                ~/.cargo/registry/cache/
                ~/.cargo/git/db/
                target/
              key: ${{ runner.os }}-${{ runner.arch }}-cargo-nighly-${{ hashFiles('**/Cargo.lock') }}
          - name: Install Nightly
            id: install
            uses: dtolnay/rust-toolchain@master
            with: 
              components: rustfmt
              toolchain: nightly
          - name: Check Formatting
            run: cargo +${{ steps.install.outputs.name }} fmt --verbose --check --all
            